<form action="/" method="post" class="application-form">
	<span class="application-form__title">Оставьте заявку</span>
	<div class="application-form__msg application-form__msg_orange">и мы свяжемся с Вами для оценки объема и стоимости</div>
	<p class="application-form__field">
		<label for="application-name">Ваше имя</label><br>
		<input type="text" id="application-name" name="application-name" placeholder="Как к вам обращаться?" value="" maxlength="40">
	</p>
	<p class="application-form__field">
		<label for="application-message">Комментарий</label><br>
		<textarea type="text" id="application-message" name="application-message" placeholder="Ваши пожелания и комментарии" tmp_placeholder="Ваши пожелания и комментарии"></textarea>
	</p>
	<p class="application-form__field">
		<input type="submit" name="application-submit" value="Отправить" class="application-form__btn">
	</p>
</form>